.dropdown-content {
  max-height: 13em;
  max-width: 155px;
  overflow: auto;
}

* {
  font-family: "Lora", serif;
  font-weight: bold;
  scroll-behavior: smooth;
}

html {
  background-color: #f0dac0;
}

main,
footer {
  color: black;
}

a {
  color: white;
}

#contact-us a {
  color: black;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpg");
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.level {
  align-self: flex-end;
}

.title {
  align-self: center;
}

h1 {
  font-family: "Rye", cursive;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

.footer {
  background-color: #f0dac0;
}

@media screen and (max-width: 768px) {
  .state {
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .park-select {
    width: 230px;
  }
  #search {
    flex-direction: column;
  }
  .checklist h2 {
    text-align: center;
  }
  .packing-list {
    margin: 0 20% 0 45%;
  }
  form {
    text-align: center;
  }
}
